@import  "./src/styles.scss";

.login-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    padding: 25px;
}

.title {
    font-weight: bold;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-icon {
    font-size: 164px;
    margin-right: 128px;
}

.form-element {
    width: 80%;
}
