<div class="post-list-container m-l-25 m-r-25">
  <mat-card class="m-b-10 postey-machiney-container" *ngIf="!filter || filter == currentUser.id">
    <button mat-raised-button color="primary" class="post-button" (click)="openEditDialog()">New post</button>
    <div class="make-post">
      <textarea matInput class="postey-machiney" autocomplete="off" placeholder="Say something cringy!" 
        [(ngModel)]="content"></textarea>
      <span *ngIf="!!content" class="buttons">
        <mat-divider [inset]="true"></mat-divider>
        <button mat-button (click)="submitPost()">Post</button>
        <button mat-button>Attachment</button>
      </span>
    </div>
  </mat-card>

  <mat-card class="m-b-10 posts" *ngFor="let post of posts">
    <mat-card-header>
        <app-user-avatar mat-card-avatar 
          [user]="users[post.posterId-1]"
          [size]="40"
          [isRound]="true"
          [isShadowless]="true"
        >
        </app-user-avatar>
        <mat-card-title>{{users[post.posterId-1]?.firstName}} {{users[post.posterId-1]?.lastName}}</mat-card-title>
      <mat-card-subtitle>{{post.date}}</mat-card-subtitle>
    </mat-card-header>

    <div>
      <!-- idk how attachments will look like so its #todo -->
    </div>

    <mat-card-content class="m-t-10">
      <!-- <h2>{{post.content}}</h2> -->
      <app-rich-post
        [isReadOnly]="true"
        [content]="post.content"
      >
      </app-rich-post>
    </mat-card-content>

    <div>
      <mat-divider [inset]="true"></mat-divider>
      <span>
        <button mat-button>Like</button>
        <button mat-button (click)="commentId = post.id; commentContent=null;">Comment</button>
      </span>

      <mat-divider [inset]="true"></mat-divider>

      <div *ngIf="!!post.comments">
        <div *ngFor="let comment of post.comments">
          <mat-card-header class="m-t-10">
          <app-user-avatar mat-card-avatar 
            [user]="users[comment.posterId-1]"
            [size]="40"
            [isRound]="true"
            [isShadowless]="true"
          >
          </app-user-avatar>
            <mat-card-title style="font-size: medium;">
                {{users[comment.posterId-1]?.firstName}} {{users[comment.posterId-1]?.lastName}}
            </mat-card-title>
            <mat-card-subtitle style="color: black; font-size: medium;">
                {{comment.content}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-divider [inset]="true"></mat-divider>
        </div>
      </div>

      <div *ngIf="post.id === commentId" class="m-b-10 postey-machiney-container">
        <app-user-avatar mat-card-avatar
          [user]="users[currentUser.id]"
          [size]="40"
          [isRound]="true"
          [isShadowless]="true"
        >
        </app-user-avatar>       
        <div class="make-post m-t-5 m-b-5 m-l-5" style="width: 90%;">
          <textarea matInput class="postey-machiney" autocomplete="off" placeholder="Comment" 
            [(ngModel)]="commentContent"></textarea>
          <span *ngIf="!!commentContent" class="buttons">
            <mat-divider [inset]="true"></mat-divider>
            <button mat-button (click)="createComment(post.id)">Comment</button>
            <button mat-button>Attachment</button>
          </span>
        </div>
      </div>
    </div>
  </mat-card>
</div>