@import  "./src/styles.scss";

.search {
    top: 0;
    font-size: 15px;
    position: absolute;
}

.search-autocomplete {
    background-color: $primary;
    color: $main;
    border-radius: 0px 0px 5px 5px;
    border: 0px solid $primary;
    // padding: 5px;
    display: block;
    top: 0px;
}

.search-autocomplete .mat-card{
    background-color: $primary;
    color: $main;
}

.mat-input-element{
    width: 6em;
    font-weight: 500;
    color: $main;
    padding: 0.4em;
    transition-property: width;
    transition-duration: 0.2s;
}

.mat-input-element:focus{
    width: 30em;
}

.mat-input-element::placeholder{
    color: rgba(245, 245, 245, 0.7);
    font-weight: 500;
}

.search-box{
    background: $dark;
    border-radius: 5px 5px 5px 5px;
    // padding-right: 0.65em;
    transition-property: background;
    transition-duration: 0.1s;
}

// .search-box:hover{
//     background: #0000002b;
// }

.search-box .mat-button{
    width: 55px;
    height: 43px;
    min-width: 0px;
}