@import  "./src/styles.scss";

.search {
    top: 0;
    font-size: 15px;
    position: absolute;
}

.search-autocomplete {
    background-color: #563098;//whitesmoke;
    color: whitesmoke;
    border-radius: 0px 0px 5px 5px;
    border: 2px solid #563098;
    padding: 5px;
    display: block;
    top: 0px;
}

.mat-input-element{
    width: 30em;
    font-weight: 500;
    color: whitesmoke;
    padding: 0.4em;
}

.mat-input-element::placeholder{
    color: rgba(245, 245, 245, 0.7);
    font-weight: 500;
}

.search-box{
    background: #0000002b;
    border-radius: 5px 5px 5px 5px;
    padding-right: 0.65em;
}