<span class="search m-l-10">
    <div class="search-box m-t-10">
        <input matInput (focus)="show = true;" (blur)="show = false" (keyup)="search($event)" autocomplete="off" placeholder="Search users">
        <button mat-button>
            <mat-icon matSuffix>search</mat-icon>
        </button>
        <div class="search-autocomplete" *ngIf="show">
            <div *ngFor="let user of usersSearchList | slice:0:5;">
                <mat-card (click)="showUserProfile(user.id)">
                    <h2>{{user.firstName + " " + user.lastName}}</h2>
                </mat-card>
            </div>
            <!-- <mat-card>
                <h2>User 1</h2>
            </mat-card>
            <mat-card>
                <h2>User 2</h2>
            </mat-card>
            <mat-card>
                <h2>User 3</h2>
            </mat-card> -->
        </div>
    </div>
</span>
