<span class="search m-l-10 m-t-5">
    <div class="search-box m-t-10">
        <input matInput (focus)="show = true;"  (keyup)="search($event)"
            (keyup.enter)="showSearchResults(); show = false;" autocomplete="off" placeholder="Search users" [(ngModel)]="input">
        <button mat-button (click)="showSearchResults(); show = false;">
            <mat-icon matSuffix>search</mat-icon>
        </button>
        <div class="search-autocomplete" *ngIf="show">
            <div *ngFor="let user of usersSearchList | slice:0:5;">          
                <mat-card (click)="showUserProfile(user.id); show = false;">
                    <div class="flex-horizontal">
                        <app-user-avatar
                            [user]='user'
                            [size]='40'
                            [isRound]="true"
                            class="m-r-10"
                        >
                        </app-user-avatar>
                        <h2>{{user.firstName + " " + user.lastName}}</h2>
                    </div>
                </mat-card>
            </div>           
        </div>
    </div>
</span>
