@import  "./src/styles.scss";

.search {
    top: 0;
    font-size: 15px;
    position: absolute;
}

.search .mat-form-field{
    width: 30em;
    font-weight: 500;
}

.search .mat-form-field .mat-form-field-wrapper{
    padding-bottom: 0em;
}

.search-autocomplete {
    background-color: whitesmoke;
    color: black;
    border-radius: 0px 0px 5px 5px;
    border: 2px solid #673ab7;
    padding: 5px;
    display: block;
    top: 0px;
}