@import  "./src/styles.scss";

.user-form {
  display: flex;
  flex-direction: row;
}

.user-form-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 220px;
}

.form-element {
  width: 80%;
}

.presentation-column {
  width: 440px;
}

.presentation-area {
  height: 170px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 18px;
  padding-right: 44px;
}

.avatar-input {
  display: none;
}