<div [formGroup]="userForm" (ngSubmit)="!userForm.valid" class="user-form">
  <div class="user-form-column">
    <div *ngIf="!avatar" class="avatar"
      [ngClass]="this.selectedGender === genderType.female ? 'female-avatar' : 'male-avatar'"
     >
    </div>
    <div *ngIf="avatar" class="avatar">
      <img [src]="avatar">
    </div>  
    <div>
      <input type="file" multiple class="avatar-input"
        (change)="onAvatarChange($event)" #avatarUpload>
      <button (click)="avatarUpload.click()" mat-raised-button class="m-t-10">Change avatar</button> 
    </div>
    <mat-radio-group (change)="updateSelectedGender()" class="m-t-25" formControlName="gender">
      <mat-radio-button [value]='genderType.male'>Male</mat-radio-button>
      <mat-radio-button [value]='genderType.female' class="m-l-10">Female</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="user-form-column">
    <mat-form-field appearance="outline" class="form-element">
      <mat-label>First name</mat-label>
      <input
        matInput
        type="text"
        formControlName="firstName"
        placeholder="firstName">
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-element">
      <mat-label>Last name</mat-label>
      <input
        matInput
        type="text"
        formControlName="lastName"
        placeholder="lastName">
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-element">
      <mat-label>Country</mat-label>
      <input
        matInput
        type="text"
        formControlName="country"
        placeholder="Country">
        <mat-icon matSuffix>push_pin</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-element">
      <mat-label>City</mat-label>
      <input
        matInput
        type="text"
        formControlName="city"
        placeholder="City">  
        <mat-icon matSuffix>location_city</mat-icon>    
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-element">
      <mat-label>Birthday</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="birthday"
        placeholder="Birthday"> 
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="presentation-column"> 
    <div style="display: flex; flex-direction: row; align-items: flex-start;">
      <div class="user-form-column" style="align-items: flex-start;">
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Mobile</mat-label>
          <input
            matInput
            type="text"
            formControlName="mobile"
            placeholder="Mobile">     
            <mat-icon matSuffix>phone_iphone</mat-icon>      
        </mat-form-field>
      </div>
      <div class="user-form-column" style="align-items: flex-start;">
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            formControlName="email"
            placeholder="Email"> 
            <mat-icon matSuffix>email</mat-icon>           
        </mat-form-field>
      </div>
    </div>
    <mat-form-field appearance="outline" style="width: 90%;">
      <mat-label>Presentation</mat-label>
      <textarea class="presentation-area"
        matInput
        type="text"
        formControlName="presentation"
        placeholder="Presentation...">
      </textarea>      
      <mat-icon matSuffix>format_quote</mat-icon>    
    </mat-form-field>
    <div class="action-buttons">
      <button
        mat-raised-button
        color="warn"
        [mat-dialog-close]="null" 
        mat-dialog-close><mat-icon>cancel</mat-icon>
        Cancel
      </button>
      <button
        (click)="submitUserForm()"
        mat-raised-button
        [mat-dialog-close]="userForm.value" 
        class="m-l-10"><mat-icon>save</mat-icon>
        Save
      </button>
    </div>   
  </div>
</div>


