@import  "./src/styles.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 10;
    background-color: $primary;
    color: $secondary;
    position: sticky;
    height: 70px;
}

.nav-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-box-panel {
    width: 470px;
    padding: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $primary;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    transition: all .2s linear;
    border-radius: 5px;
    margin: 5px;
} 

.chat-hidden {
    height: 20px;  
}

.chat-expanded {
    height: 1820px;
    padding: 4px;
}

.chat-box-button {
    text-align: center;
    align-items: center;
    font-size: 28px;
}

.avatar-margin {
    margin-top: 50px;
}

.mat-fab {
    margin: 5px !important; 
}


