<mat-toolbar class="navbar shadow">
  <div class="nav-group">
    <span>Instant Messenger<mat-icon class="align-icon m-l-5">forum</mat-icon></span>  
    <app-user-avatar class="m-l-25 avatar-margin"
        [user]="this.user"
        [isNav]="true"
      >
    </app-user-avatar>
    <span class="m-l-10">{{this.user?.firstName}}</span>
    <app-search class="m-l-25 shadow"></app-search>   
  </div>
  <div>
    <span class="nav-group">       
      <button mat-fab color="primary" class="m-r-10" routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>    
      <button mat-fab color="primary" class="m-r-10" routerLink="/users">
        <mat-icon>people</mat-icon>
      </button>  
      <button  mat-fab color="primary" class="m-r-10" routerLink="/profile/1">
        <mat-icon>account_box</mat-icon>
      </button>   
      <div
        (click)="toggleChatExpand(false)"  
        class="chat-box-panel shadow"
        [ngClass]="this.chatTriggered ? 'chat-expanded' : 'chat-hidden'" 
      >
        <mat-icon class="chat-box-button" *ngIf="!this.chatExpanded">chat</mat-icon>
        <app-contact-list
         class="w-100"
         *ngIf="this.chatExpanded"
         (hideEmit)="toggleChatExpand(true)"
        ></app-contact-list>
      </div>  
      <button type="button" (click)="logout()" mat-fab color="primary" class="m-l-10" routerLink="">
        <mat-icon>logout</mat-icon>
      </button>     
    </span>
  </div>
</mat-toolbar>