@import  "./src/styles.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 1;
    margin-bottom: 15px;
    position: sticky;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-box-panel {
    width: 470px;
    padding: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $primary;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    transition: all .2s linear;
    border-radius: 5px;
} 

.chat-hidden {
    height: 20px;
    background-color: $dark;
}

.chat-expanded {
    height: 1820px;
}

.chat-box-button {
    text-align: center;
    align-items: center;
    font-size: 28px;
}


