@import  "./src/styles.scss";

.editor-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 5px;
    padding-right: 5px;
    color: $secondary;
}

.edit-border,
.sent-border,
.recived-border  {
    border-radius: 20px;
}

.edit-border { 
    background-color: $faded;
    width: 90%;
}

.sent-border {
    background-color: $primary;
    max-width: 250px;
}

.recived-border {
    background-color: $faded;
    max-width: 250px;
}

.send-button-box {
    width: 10%;
}

.hidden-uploader {
    display: none;
}

.files-box {
    padding: 3px;
    margin: 3px;
}

.recived {
    display: flex;
    justify-content: flex-start;
}

.sent {   
    display: flex;
    justify-content: flex-end;   
}
