@import  "./src/styles.scss";

.message {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.recived {
    display: flex;
    justify-content: flex-start;
}

.sent {   
    display: flex;
    justify-content: flex-end;   
}

.date {
    font-size: 10px;
    color: $faded;
    margin: 0px;
}