<div
  class="message-box"
  [ngClass]="{
    'sent' : textBoxType === textBoxTypeEnum.sent,
    'recived' : textBoxType === textBoxTypeEnum.recived
  }"
>
  <div class="message"
    (mouseover)="showDate()"
    (mouseout)="hideDate()"
  >
      <app-rich-text-box 
      [isReadOnly]="true"
      [content]="model.content"
      [textBoxType]="textBoxType"
      [uploadedFiles]="model.attachment?.files"
    ></app-rich-text-box>    
    <div *ngIf="isDateShown && isMouseEnetered" class="date"
    >
      {{model.date.toString().substring(0, 16).replace('T',' ')}}
    </div>
  </div>
</div>
