<div class="page-box">
  <div class="header"></div>
  <div class="page-content"> 
    <div class="tabs-box">
      <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="aligin-icon m-r-5">face</mat-icon>
              Friends
          </ng-template>     
          <div *ngFor="let friend of friends">
            <app-user-card [model]="friend.user"></app-user-card>
          </div>       
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="aligin-icon m-r-5">people</mat-icon>
              Users
          </ng-template>
          <div *ngFor="let user of users">
            <app-user-card [model]="user"></app-user-card>
          </div>       
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="friend-req-box">
      <h1 class="m-l-5">Friendship requests</h1>
      <app-friendship-request-list></app-friendship-request-list>
    </div>
  </div>
</div>



