@import "./src/styles.scss"; 

.avatar {
    width: 125px;
    height: 100px;
    border-width: 2px;
    border-color: $primary;
    border-style: solid;
    border-radius: 5px;
    background-size: cover;
  }

.user-card {
    left: 30%;
    height: 100px;
    width: 600px;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.actions-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}