<div [formGroup]="postForm" (ngSubmit)="!postForm.valid">
  <h1 *ngIf="!isReadOnly" class="colored">
    <mat-icon class="align-icon m-r-10" style="font-size: 32px;">post_add</mat-icon>
    Creating new post
  </h1>
  <div>
    <div class="editor-box">
      <quill-editor
        formControlName="editor"
        [styles]="editorStyle"
        [modules]="editorConfig"
        [readOnly]="isReadOnly"  
        [placeholder]="''">
      </quill-editor>
    </div> 
    <div *ngIf="!isReadOnly" class="m-b-10">
      <app-file-uploader (fileSelectedEmit)="addFileToUpload($event)"></app-file-uploader>
    </div>   
    <mat-chip-list class="m-t-10">
      <div *ngFor="let file of uploadedFiles">
        <mat-chip
          attachment
          [attachedFile]="file"
          [removable]="true"
          (removed)="removeFile(file)"         
        >
          {{file.name}}
          <mat-icon 
            matChipRemove>cancel
          </mat-icon>          
        </mat-chip>
      </div>        
    </mat-chip-list>    
  </div>
  <span *ngIf="!isReadOnly" class="flex-horizontal center">
    <button class="m-t-25 submit-button"
      type="submit"  
      mat-raised-button
      [mat-dialog-close]="postForm.value"
      color="primary"
      (click)="onSubmit()"
    >
      Submit</button>
  </span>
</div>