<mat-card class="user-card shadow">
  <app-user-avatar
    [user]='this.model'
  >
  </app-user-avatar>
  <div class="card-box w-100">
    <div class="m-l-25">
      <span class="flex-horizontal">
        <h2>{{model.firstName + " " + model.lastName}}</h2>
        <h3 class="m-l-25 m-t-5 colored"><mat-icon class="align-icon m-r-5">face</mat-icon>{{"Mutal friends:" + " " + mutalFriends}}</h3>
      </span>  
      <span class="flex-horizontal">
        <h2>{{model.country}}</h2>
        <h3 class="m-l-25 m-t-5"><mat-icon class="align-icon m-r-5 m-b-5">location_city</mat-icon>{{model.city}}</h3>
      </span>  
    </div>
    <div class="actions-box">
      <button (click)="showUserProfile(model.id)" mat-mini-fab color="primary">
        <mat-icon>person</mat-icon>
      </button>
      <button *ngIf="isFriend" (click)="openConversation(model.id)" mat-mini-fab color="primary" class="m-l-10">
        <mat-icon>message</mat-icon>
      </button>
    </div>
  </div> 
</mat-card>