.chat-box-container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 850px;
    background-color: white;
    padding-right: 0px;
}

.user-image {
    background-image: url('https://images.vexels.com/media/users/3/129616/isolated/preview/fb517f8913bd99cd48ef00facb4a67c0-businessman-avatar-silhouette-by-vexels.png');
    background-size: cover;
}

.chat-content {
    height: 630px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

.inputs-container {
   margin-right: 16px;   
}

.title {
    color: black;
}

.separator {
    height: 2px;
    width: calc(95%);
    background-color: #673ab7;
}
