@import  "./src/styles.scss";

.chat-box-box {
    display: flex;
    flex-direction: column;
    height: 846px;
    background-color: $secondary;
    padding-right: 0px;
}

.user-image {
    background-size: cover;
}

.chat-content {
    height: 630px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $secondary;
}

.inputs-box {
   margin-right: 16px;   
}

.title {
    color: black;
}

.separator {
    height: 2px;
    width: calc(95%);
    background-color: $primary;
}

.header {
    display: flex;
    direction: row;
    justify-content: space-between;
}