<div>
  <div *ngFor="let request of friendshipsRequests">
    <div class="request-card">
      <app-user-avatar
        [user]="request.user"
        [isRound]="true"
      >
      </app-user-avatar>
      <div class="card-box w-100">
        <div>
          <h2 class="m-l-10"> {{request.user.firstName + " " + request.user.lastName}}</h2>
        </div>     
        <div class="actions-box">
          <button type="button" mat-mini-fab color="primary" class="upload-btn">
            <mat-icon (click)="showUserProfile(request.user.id)">person</mat-icon>
          </button>
          <button (click)="acceptRequest(request.user.id)" type="button" mat-mini-fab color="primary" class="upload-btn  m-l-10">
            <mat-icon>check</mat-icon>
          </button>
          <button (click)="declineRequest(request.user.id)" type="button" mat-mini-fab color="warn" class="upload-btn m-l-10">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="friendshipsRequests.length === 0">
    <p class="m-l-5">No friendship requests at the moment...</p>
  </div>
</div>